<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Vælg dato</ng-template>
      <app-date></app-date>
      <br>
      <app-time></app-time>
      <div>
        <button mat-button matStepperNext>Næste</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Antal personer</ng-template>
        <app-attendances></app-attendances>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Vælg pakke</ng-template>
         <!-- <app-package-list></app-package-list>
          <div>
            <button mat-button matStepperNext>Næste</button>
          </div>-->
        </form>
      </mat-step>
      <mat-step  [stepControl]="forthFormGroup">
          <form [formGroup]="forthFormGroup">
            <ng-template matStepLabel>Vælg aktiviteter</ng-template>
          
            <app-activities-list></app-activities-list>
            
          </form>
        </mat-step>
        <mat-step [stepControl]="fifthFormGroup">
            <form [formGroup]="fifthFormGroup">
              <ng-template matStepLabel>Ønskes mad?</ng-template>
                <app-food-check></app-food-check>
            </form>
          </mat-step>
  <mat-step [stepControl]="sixthFormGroup">
    <form [formGroup]="sixthFormGroup">
      <ng-template matStepLabel>Kontakt oplysninger</ng-template>
      <app-contactinfo-item></app-contactinfo-item>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="seventhFormGroup">
      <form [formGroup]="seventhFormGroup">
        <ng-template matStepLabel>Godkend ordre</ng-template>
        <app-receipt></app-receipt>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Næste</button>
        </div>
      </form>
    </mat-step>
  <mat-step>
  <mat-step [stepControl]="eighthFormGroup">
      <form [formGroup]="eighthFormGroup">
        <ng-template matStepLabel>Færdig</ng-template>
        <app-receipt></app-receipt>
      </form>
    </mat-step>
    <ng-template matStepLabel>Done</ng-template>
   
    
  </mat-step>
</mat-vertical-stepper>