<mat-vertical-stepper [linear]="isLinear" #stepper>

  <mat-step>
    <ng-template matStepLabel>Vælg dato</ng-template>
    <app-date></app-date>
    <br>
    <app-time></app-time>
  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Antal personer</ng-template>
    <app-attendances></app-attendances>
  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Vælg pakke</ng-template>
    <app-selectoffer></app-selectoffer>
  </mat-step>


  <mat-step>
   <OfferContainer [offers]="offers"></OfferContainer>
  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Færdig</ng-template>
    <app-receipt></app-receipt>
  </mat-step>

  <ng-template matStepLabel>Done</ng-template>

</mat-vertical-stepper>